{% extends 'base.html' %}

{% load static %}

{% block content %}

{% if asignarCargoForm %}
<center><div class="container">
    <h2>Asignar Cargo a Usuario</h2>
    <form method="POST" class="post-form">{% csrf_token %}
        <div class="data">
            {{ asignarCargoForm.as_p }}
        </div>
        <div class="submit">
            <input type="submit" class="btn btn-primary" value="Crear">
        </div>
    </form>
</div></center>
{% endif %}

{% if asignarCargoEditForm %}
<center><div class="container">
    <h2>Editar Cargo a Usuario</h2>
    <form method="POST" class="post-form">{% csrf_token %}
        <div class="data">
            {{ asignarCargoEditForm.as_p }}
        </div>
        <div class="submit">
            <input type="submit" class="btn btn-primary" value="Editar">
        </div>
    </form>
</div></center>
{% endif %}

{% endblock %}