{% extends 'base.html' %}

{% load static %}

{% block content %}

{% if usuarioForm %}
<center><div class="container">
    <h2>Crear Usuario</h2>
    <form method="POST" class="post-form">{% csrf_token %}
        <div class="data">
            {{ usuarioForm.as_p }}
            {{ usuarioCargoForm.as_p }}
        </div>
        <div class="submit">
            <input type="submit" class="btn btn-primary" value="Crear">
        </div>
    </form>
</div></center>
{% endif %}

{% if usuarioEditForm %}
<center><div class="container">
    <h2>Editar Usuario</h2>
    <form method="POST" class="post-form">{% csrf_token %}
        <div class="data">
            {{ usuarioEditForm.as_p }}
            {{ usuarioCargoEditForm.as_p }}
        </div>
        <div class="submit">
            <input type="submit" class="btn btn-primary" value="Editar">
        </div>
    </form>
</div></center>
{% endif %}

{% endblock %}