<nav class="navbar navbar-expand navbar-dark bg-dark">
    <!-- <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'index' %}">Index</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="{% url 'proyecto/inicio_Proyecto' %}">Proyectos</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" 
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Procesos Predefinidos
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'flujo/inicio_flujo' %}">Procesos predefinidos</a>
            <a class="dropdown-item" href="{% url 'flujo/inicio_componente' %}">Componentes predefinidos</a>
            <a class="dropdown-item" href="{% url 'flujo/inicio_actividad' %}">Actividades predefinidas</a>
            <a class="dropdown-item" href="{% url 'flujo/inicio_regla' %}">Reglas de componentes</a>
          </div>
        </li>
        {% if request.user.is_superuser %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" 
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Usuarios
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'usuario/inicio_usuario' %}">Usuarios</a>
            <a class="dropdown-item" href="{% url 'usuario/inicio_cargo' %}">Cargos</a>
            <a class="dropdown-item" href="{% url 'usuario/inicio_dependencia' %}">Dependencias</a>
            <a class="dropdown-item" href="{% url 'usuario/inicio_area' %}">Áreas</a>
          </div>
        </li>
        {% endif %}
        <form class="form-inline my-2 my-lg-0" action="{% url 'logout' %}">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">logout</button>
        </form>
    </div>
  </nav>