{% extends 'base.html' %}

{% load static %}

<link rel="stylesheet" href="{% static 'Css/main.css' %}">

{% block content %}

<center><h1>Usuarios</h1></center>

{% if usuarios %}
<div class="container">
        {% for usuario in usuarios %}
        <table class="container_item">
            <tr>
                <td class="container_item_first_column">
                    <div class="task_name">
                        <h3>{{ usuario.usuario.username }}</h3>
                    </div>
                </td>
                <td>
                    <!-- Celda vacía -->
                </td>
            </tr>
            <tr>
                <td>
                    <div class="data">
                        Creado: {{ usuario.usuario.date_joined }} |
                    </div>
                </td>
                <td class="container_item_second_column">
                    <div class="link_button right_up_container">
                        <a class="btn btn-primary" href="{% url 'usuario/editar_usuario' pk=usuario.pk %}">Editar</a>
                    </div> 
                </td>
            </tr>
        </table>
        {% endfor %}
</div>
{% else %}

<center><h2>No hay usuario para mostrar</h2></center>

{% endif %}

<center><a role="button" class="btn btn-primary" href="{% url 'usuario/crear_usuario' %}">Nuevo Usuario</a></center>

{% if messages %}
    {% for message in messages %}
        <script type="text/javascript">
            alert("{{message}}")
        </script>    
    {% endfor %}
{% endif %}

{% endblock %}