{% extends 'base.html' %}

{% load static %}

<link rel="stylesheet" href="{% static 'Css/main.css' %}">

{% block content %}

<center><h1>Cargos</h1></center>

{% if cargos %}
<div class="container">
        {% for cargo in cargos %}
        <table class="container_item">
            <tr>
                <td class="container_item_first_column">
                    <div class="task_name">
                        <h3>{{ cargo.titulo }}</h3>
                    </div>
                </td>
                <td>
                    <!-- Celda vacía -->
                </td>
            </tr>
            <tr>
                <td>
                    <div class="data">
                        Creado: {{ cargo.fecha_Creacion }} |
                        Estado: {{ cargo.estado }} |
                    </div>
                </td>
                <!-- <td class="container_item_second_column">
                    <div class="link_button right_up_container">
                        <a class="btn btn-primary" href="{% url 'usuario/editar_cargo' pk=cargo.pk %}">Editar</a>
                    </div> 
                </td> -->
            </tr>
        </table>
        {% endfor %}
</div>
{% else %}

<center><h2>No hay cargo para mostrar</h2></center>

{% endif %}

<center><a role="button" class="btn btn-primary" href="{% url 'usuario/crear_cargo' %}">Nueva Cargo</a></center>

{% if messages %}
    {% for message in messages %}
        <script type="text/javascript">
            alert("{{message}}")
        </script>    
    {% endfor %}
{% endif %}

{% endblock %}