{% extends 'base.html' %}

{% load static %}

{% block content %}

{% if cargoForm %}
<center><div class="container">
    <h2>Crear Cargo</h2>
    <form method="POST" class="post-form">{% csrf_token %}
        <div class="data">
            {{ cargoForm.as_p }}
        </div>
        <div class="submit">
            <input type="submit" class="btn btn-primary" value="Crear">
        </div>
    </form>
</div></center>
{% endif %}

{% if cargoEditForm %}
<center><div class="container">
    <h2>Editar Cargo</h2>
    <form method="POST" class="post-form">{% csrf_token %}
        <div class="data">
            {{ cargoEditForm.as_p }}
        </div>
        <div class="submit">
            <input type="submit" class="btn btn-primary" value="Editar">
        </div>
    </form>
</div></center>
{% endif %}

{% endblock %}