{% extends 'base.html' %}

{% load static %}

{% block content %}

{% if areaForm %}
<center><div class="container">
    <h2>Crear Área</h2>
    <form method="POST" class="post-form">{% csrf_token %}
        <div class="data">
            {{ areaForm.as_p }}
        </div>
        <div class="submit">
            <input type="submit" class="btn btn-primary" value="Crear">
        </div>
    </form>
</div></center>
{% endif %}

{% if areaEditForm %}
<center><div class="container">
    <h2>Editar Área</h2>
    <form method="POST" class="post-form">{% csrf_token %}
        <div class="data">
            {{ areaEditForm.as_p }}
        </div>
        <div class="submit">
            <input type="submit" class="btn btn-primary" value="Editar">
        </div>
    </form>
</div></center>
{% endif %}

{% endblock %}