{% extends 'base.html' %}

{% load static %}

{% block content %}

<center><div class="container">
    <h2>Crear Area</h2>
    <form method="POST" class="post-form">{% csrf_token %}
        <div class="data">
            {{ areaForm.as_p }}
        </div>
        <div class="submit">
            <input type="submit" class="btn btn-primary" value="Crear">
        </div>
    </form>
</div></center>

{% endblock %}