{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container">
    <h2>Crear proyectos</h2>
    <form action="/todo_list/create_project" method="POST">{% csrf_token %}
        <div class="data">
            {{ proyectoForm.as_p }}
        </div>
        <div class="submit">
            <input type="submit" value="Crear">
        </div>
    </form>
</div>

{% endblock %}