{% extends 'base.html' %}

{% load static %}

{% block content %}

{% if componenteForm %}
<center><div class="container">
    <h2>Crear Componentes</h2>
    <form method="POST" class="post-form">{% csrf_token %}
        <div class="data">
            {{ componenteForm.as_p }}
        </div>
        <div class="submit">
            <input type="submit" class="btn btn-primary" value="Crear">
        </div>
    </form>
</div></center>
{% endif %}

{% if componenteFormEdit %}
<center><div class="container">
    <h2>Editar Componentes</h2>
    <form method="POST" class="post-form">{% csrf_token %}
        <div class="data">
            {{ componenteFormEdit.as_p }}
        </div>
        <div class="submit">
            <input type="submit" class="btn btn-primary" value="Editar">
        </div>
    </form>
</div></center>
{% endif %}

{% endblock %}