{% extends 'base.html' %}

{% load static %}

{% block content %}

{% if proyectoForm %}
<center><div class="container">
    <h2>Crear proyectos</h2>
    <form method="POST" class="post-form">{% csrf_token %}
        <div class="data">
            {{ proyectoForm.as_p }}
        </div>
        <div class="submit">
            <input type="submit" class="btn btn-primary" value="Crear">
        </div>
    </form>
</div></center>
{% endif %}

{% if proyectoEditForm %}
<center><div class="container">
    <h2>Editar proyectos</h2>
    <form method="POST" class="post-form">{% csrf_token %}
        <div class="data">
            {{ proyectoEditForm.as_p }}
        </div>
        <div class="submit">
            <input type="submit" class="btn btn-primary" value="Editar">
        </div>
    </form>
</div></center>
{% endif %}

{% endblock %}