{% extends 'base.html' %}

{% load static %}

{% block content %}

{% if elementoForm %}
<center><div class="container">
    <h2>Crear Procesos</h2>
    <form method="POST" class="post-form">{% csrf_token %}
        <div class="data">
            {{ elementoForm.as_p }}
        </div>
        <div class="submit">
            <input type="submit" class="btn btn-primary" value="Crear">
        </div>
    </form>
</div></center>
{% endif %}

{% if elementoEditForm %}
<center><div class="container">
    <h2>Editar Procesos</h2>
    <form method="POST" class="post-form">{% csrf_token %}
        <div class="data">
            {{ elementoEditForm.as_p }}
        </div>
        <div class="submit">
            <input type="submit" class="btn btn-primary" value="Editar">
        </div>
    </form>
</div></center>
{% endif %}

{% endblock %}