{% extends 'base.html' %}

{% load static %}

{% block content %}

{% if requerimientoForm %}
<center><div class="container">
    <h2>Crear Requerimientos</h2>
    <form method="POST" class="post-form">{% csrf_token %}
        <div class="data">
            {{ requerimientoForm.as_p }}
        </div>
        <div class="submit">
            <input type="submit" class="btn btn-primary" value="Crear">
        </div>
    </form>
</div></center>
{% endif %}

{% if requerimientoFormEdit %}
<center><div class="container">
    <h2>Editar Requerimientos</h2>
    <form method="POST" class="post-form">{% csrf_token %}
        <div class="data">
            {{ requerimientoFormEdit.as_p }}
        </div>
        <div class="submit">
            <input type="submit" class="btn btn-primary" value="Editar">
        </div>
    </form>
</div></center>
{% endif %}

{% endblock %}