{% extends 'base.html' %}

{% load static %}

<link rel="stylesheet" href="{% static 'Css/main.css' %}">

{% block content %}

<center><h1>Reglas</h1></center>

{% if reglas %}
<div class="container">
        {% for regla in reglas %}
        <table class="container_item">
            <tr>
                <td class="container_item_first_column">
                    <div class="task_name">
                        <h3>{{ regla.titulo }}</h3>
                    </div>
                </td>
                <td>
                    <!-- Celda vacía -->
                </td>
            </tr>
            <tr>
                <td>
                    <div class="data">
                        Creado: {{ regla.fecha_Creacion }} |
                        Estado: {{ regla.estado }} |
                    </div>
                </td>
                <td class="container_item_second_column">
                    <div class="link_button right_up_container">
                        <a class="btn btn-primary" href="{% url 'flujo/editar_regla' pk=proyecto.pk %}">Editar</a>
                    </div> 
                </td>
            </tr>
        </table>
        {% endfor %}
</div>
{% else %}

<center><h2>No hay Reglas para mostrar</h2></center>

{% endif %}

<center><a role="button" class="btn btn-primary" href="{% url 'flujo/crear_regla' %}">Nueva Regla</a></center>

{% if message %}
<script type="text/javascript">
  alert("{{message}}")
</script>
{% endif %}

{% endblock %}