{% extends 'base.html' %}

{% load static %}

<link rel="stylesheet" href="{% static 'Css/main.css' %}">

{% block content %}

<center><h1>Tareas Predefinidas</h1></center>

{% if tareas %}
<div class="container">
        {% for tarea in tareas %}
        <table class="container_item">
            <tr>
                <td class="container_item_first_column">
                    <div class="task_name">
                        <h3>{{ tarea.titulo }}</h3>
                    </div>
                </td>
                <td>
                    <!-- Celda vacía -->
                </td>
            </tr>
            <tr>
                <td>
                    <div class="data">
                        Creado: {{ tarea.fecha_Creacion }} |
                        Estado: {{ tarea.estado }} |
                    </div>
                </td>
                <td class="container_item_second_column">
                    <div class="link_button right_up_container">
                        <a class="btn btn-primary" href="{% url 'flujo/editar_actividad' pk=tarea.pk %}">Editar</a>
                    </div> 
                </td>
            </tr>
        </table>
        {% endfor %}
</div>
{% else %}

<center><h2>No hay Tareas Predefinidas para mostrar</h2></center>

{% endif %}

<center><a role="button" class="btn btn-primary" href="{% url 'flujo/crear_actividad' %}">Nueva Tarea Predefinida</a></center>

{% if message %}
<script type="text/javascript">
  alert("{{message}}")
</script>
{% endif %}

{% endblock %}