{% extends 'base.html' %}

{% load static %}

<link rel="stylesheet" href="{% static 'Css/main.css' %}">

{% block content %}

<center><h1>Procesos Predefinidos</h1></center>

{% if procesos %}
<div class="container">
        {% for proceso in procesos %}
        <table class="container_item">
            <tr>
                <td class="container_item_first_column">
                    <div class="task_name">
                        <h3>{{ proceso.titulo }}</h3>
                    </div>
                </td>
                <td>
                    <!-- Celda vacía -->
                </td>
            </tr>
            <tr>
                <td>
                    <div class="data">
                        Creado: {{ proceso.fecha_Creacion }} |
                        Estado: {{ proceso.estado }} |
                    </div>
                </td>
                <!-- <td class="container_item_second_column">
                    <div class="link_button right_up_container">
                        <a class="btn btn-primary" href="{% url 'flujo/editar_flujo' pk=proceso.pk %}">Editar</a>
                    </div> 
                </td> -->
            </tr>
        </table>
        {% endfor %}
</div>
{% else %}

<center><h2>No hay Procesos Predefinidos para mostrar</h2></center>

{% endif %}

<center><a role="button" class="btn btn-primary" href="{% url 'flujo/crear_flujo' %}">Nuevo Proceso Predefinido</a></center>

{% if message %}
<script type="text/javascript">
  alert("{{message}}")
</script>
{% endif %}

{% endblock %}