{% extends 'base.html' %}

{% block content %}

<center><h1>Procesos</h1></center>

{% if flujos %}
{% for flujo in flujos %}

{% endfor %}
{% else %}
<center><h2>No hay procesos para mostrar...</h2></center>
{% endif %}

{% endblock %}