{% extends 'base.html' %}

{% load static %}

{% block content %}

<center><h1>Bienvenidos a gerenc-IA</h1>

<ul class="list-group">
    <li class="list-group-item">
      <a class="nav-link" href="{% url 'proyecto/inicio_Proyecto' %}">Proyectos</a>
    </li>
    <li class="list-group-item">
      <a class="nav-link" href="{% url 'proyecto/inicio_flujo' %}">WorkFlows</a>
    </li>
</ul>
</center>

{% if messages %}
    {% for message in messages %}
        <script type="text/javascript">
            alert("{{message}}")
        </script>    
    {% endfor %}
{% endif %}

{% endblock %}