{% extends 'base.html' %}

{% load static %}

{% block content %}

<center><h1>Bienvenidos a gerenc-IA</h1>

<ul class="list-group">
    <li class="list-group-item">
      <a class="nav-link" href="{% url 'proyecto/inicio_Proyecto' %}">Proyectos</a>
    </li>
    <li class="list-group-item">
      <a class="nav-link" href="{% url 'proyecto/inicio_Flujo' %}">WorkFlows</a>
    </li>
</ul>
</center>

{% if message %}
<script type="text/javascript">
  alert("{{message}}")
</script>
{% endif %}

{% endblock %}