{% extends 'base.html' %}

{% exclude 'navbar.html' %}

{% load static %}

{% block content %}

<center>
<div class="container">
    <h2>Iniciar sesion</h2>
    <form method="POST" class="post-form">{% csrf_token %}
        <div class="data">
            {{ usuarioLoginForm.as_p }}
        </div>
        <div class="submit">
            <input type="submit" class="btn btn-primary" value="Login">
        </div>
    </form>
</div></center>

{% if messages %}
    {% for message in messages %}
        <script type="text/javascript">
            alert("{{message}}")
        </script>    
    {% endfor %}
{% endif %}

{% endblock %}