<!DOCTYPE html>
 <!-- Latest compiled and minified CSS -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

 <!-- jQuery library -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 
 <!-- Popper JS -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
 
 <!-- Latest compiled JavaScript -->
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> 

<!-- versión de desarrollo, incluye advertencias de ayuda en la consola -->
<script src="https://unpkg.com/vue"></script>

<meta charset="UTF-8">

<html>
    <head>
        <title>
            gerenc-IA
        </title>
    </head>
    <body>
        <nav class="navbar navbar-expand navbar-dark bg-dark">
        </nav>


{% load static %}

<center>
<div class="container">
    <h2>Iniciar sesion</h2>
    <form method="POST" class="post-form">{% csrf_token %}
        <div class="data">
            {{ usuarioLoginForm.as_p }}
        </div>
        <div class="submit">
            <input type="submit" class="btn btn-primary" value="Login">
        </div>
    </form>
</div></center>

</body>
</html>

{% if messages %}
    {% for message in messages %}
        <script type="text/javascript">
            alert("{{message}}")
        </script>    
    {% endfor %}
{% endif %}
