{% extends 'base.html' %}

{% load static %}

<link rel="stylesheet" href="{% static 'Css/main.css' %}">

{% block content %}

<center><h1>Proyectos</h1></center>

{% if proyectos > 0 %}
<div class="container">
    <h2>Proyectos pendientes</h2>
    {% for proyecto in proyectos %}
    <table class="container_item">
        <tr>
            <td class="container_item_first_column">
                <div class="task_name">{{ task.name }}</div>
            </td>
            <td>
                <!-- Celda vacía -->
            </td>
        </tr>
        <tr>
            <td>
                <div class="task_project">Proyecto: {{ task.project_str }}</div>
                <div class="data">
                    Creado: {{ task.creation_date }} |
                    Prioridad: {{ task.priority_str }} |
                    Dificultad: {{ task.difficulty_str }} |
                    Asignación: {{ task.user_str }}
                </div>
            </td>
            <td class="container_item_second_column">
                <div class="link_button right_up_container"><a href="/todo_list/set_done/{{ task.pk }}" >Finalizar</a></div> 
                <div class="link_button"><a href="/todo_list/drop/{{ task.pk }}" >Borrar</a></div>
            </td>
        </tr>
    </table>
    {% endfor %}
</div>
{% endif %}
</div>
{% endif %}

{% endblock %}