{% extends 'base.html' %}

{% load static %}

<link rel="stylesheet" href="{% static 'Css/main.css' %}">

{% block content %}

<center><h1>Proyectos</h1></center>

<div class="container">
    <h2>Crear proyectos</h2>
    <form action="/todo_list/create_project" method="POST">{% csrf_token %}
        <div class="data">
            {{ proyectoForm }}
        </div>
        <div class="submit">
            <input type="submit" value="Crear">
        </div>
    </form>
</div>

{% if proyectos > 0 %}
<div class="container">
    <h2>Proyectos pendientes</h2>
    {% for proyecto in proyectos %}
    <table class="container_item">
        <tr>
            <td class="container_item_first_column">
                <div class="task_name">{{ proyecto.titulo }}</div>
            </td>
            <td>
                <!-- Celda vacía -->
            </td>
        </tr>
        <tr>
            <td>
                <div class="data">
                    Creado: {{ proyecto.fecha_Creacion }} |
                    Estado: {{ proyecto.estado }} |
                    Asignación: {{ proyecto.responsable }}
                </div>
            </td>
            <!-- <td class="container_item_second_column">
                <div class="link_button right_up_container"><a href="/todo_list/set_done/{{ proyecto.pk }}" >Finalizar</a></div> 
                <div class="link_button"><a href="/todo_list/drop/{{ proyecto.pk }}" >Borrar</a></div>
            </td> -->
        </tr>
    </table>
    {% endfor %}
</div>
{% endif %}
</div>
{% elseif %}

<center><h2>No hay proyectos para mostrar</h2></center>

{% endif %}

{% endblock %}