{% extends 'base.html' %}

{% load static %}

<link rel="stylesheet" href="{% static 'Css/main.css' %}">

{% block content %}

<center><h1>Proyectos</h1></center>

{% if proyectos %}
<div class="container">
    <h2>Proyectos pendientes</h2>
        {% for proyecto in proyectos %}
        <table class="container_item">
            <tr>
                <td class="container_item_first_column">
                    <div class="task_name">{{ proyecto.titulo }}</div>
                </td>
                <td>
                    <!-- Celda vacía -->
                </td>
            </tr>
            <tr>
                <td>
                    <div class="data">
                        Creado: {{ proyecto.fecha_Creacion }} |
                        Estado: {{ proyecto.estado }} |
                        Asignación: {{ proyecto.responsable }}
                    </div>
                </td>
                <td class="container_item_second_column">
                    <div class="link_button right_up_container">
                        <a class="btn btn-primary" href="{% url 'proyecto/editar_elemento' pk=proyecto.pk %}">Editar</a>
                    </div> 
                </td>
            </tr>
        </table>
        {% endfor %}
</div>
{% else %}

<center><h2>No hay proyectos para mostrar</h2></center>

{% endif %}

<center><a role="button" class="btn btn-primary" href="{% url 'proyecto/crear_proyecto' %}">Nuevo Proyecto</a></center>

{% if message %}
<script type="text/javascript">
  alert("{{message}}")
</script>
{% endif %}

{% endblock %}