{% extends 'base.html' %}

{% load static %}

<link rel="stylesheet" href="{% static 'Css/main.css' %}">

{% block content %}

<center><h1>Roles</h1></center>

{% if roles %}
<div class="container">
        {% for rol in roles %}
        <table class="container_item">
            <tr>
                <td class="container_item_first_column">
                    <div class="task_name">
                        <h3>{{ rol.titulo }}</h3>
                    </div>
                </td>
                <td>
                    <!-- Celda vacía -->
                </td>
            </tr>
            <tr>
                <td>
                    <div class="data">
                        Creado: {{ rol.fecha_Creacion }} |
                        Estado: {{ rol.estado }} |
                    </div>
                </td>
                <!-- <td class="container_item_second_column">
                    <div class="link_button right_up_container">
                        <a class="btn btn-primary" href="{% url 'usuario/editar_rol' pk=rol.pk %}">Editar</a>
                    </div> 
                </td> -->
            </tr>
        </table>
        {% endfor %}
</div>
{% else %}

<center><h2>No hay roles para mostrar</h2></center>

{% endif %}

<center><a role="button" class="btn btn-primary" href="{% url 'usuario/crear_rol' %}">Nuevo Rol</a></center>

{% if messages %}
    {% for message in messages %}
        <script type="text/javascript">
            alert("{{message}}")
        </script>    
    {% endfor %}
{% endif %}

{% endblock %}