{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,500,700,800,900" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'Css/kanban.css' %}">
	<script src="{% static 'Js/kanban.js' %}"></script>
    <title>Kanban Board App Example</title>
</head>
<body>
    <div id="loadingScreen">
        <div class="loader"></div>
    </div>
    <div class="controls p-3">
        <form class="form-inline">
            <label for="titleInput">Title:</label>
            <input class="form-control form-control-sm" type="text" name="title" id="titleInput" autocomplete="off">
            <label for="descriptionInput">Description:</label>
            <input class="form-control form-control-sm" type="text" name="description" id="descriptionInput" autocomplete="off">
            <button class="btn btn-dark" id="add">Add</button>
            <button class="btn btn-danger mx-2" id="deleteAll">Delete All</button>
            <button class="btn" id="theme-btn">
                Dark/Light
            </button>
        </form>
    </div>
    <div class="boards overflow-auto p-0" id="boardsContainer">
    </div>

    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <script src="script.js" defer></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script>if (window.module) module = window.module;</script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36251023-1']);
  _gaq.push(['_setDomainName', 'jqueryscript.net']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
