{% extends 'base.html' %}

{% block content %}

<center><h1>Tareas</h1></center>

{% if tareas %}
{% for tarea in tareas %}

{% endfor %}
{% else %}
<center><h2>No hay tareas para mostrar...</h2></center>
{% endif %}

{% endblock %}