{% extends 'base.html' %}

{% block content %}

<center><h1>Tareas</h1></center>

<h2>Aqui se van a mover los componentes y actividades registrados, aquellos
    que se usan para ser asignados al historial de componentes y Tareas, aparte de 
    mover las reglas de los mismos.
</h2>

{% endblock %}