{% extends 'base.html' %}

{% block content %}

<center><h1>Bienvenidos a gerenc-IA</h1>

<ul class="list-group">
    <li class="list-group-item">
      <a class="nav-link" href="{% url 'proyecto/inicio_Proyecto' %}">Proyectos</a>
    </li>
    <li class="list-group-item">
      <a class="nav-link" href="{% url 'flujo/inicio_Flujo' %}">WorkFlows</a>
    </li>
    <li class="list-group-item">
      <a class="nav-link" href="{% url 'proyecto/kanban' %}">KanBan</a>
    </li>
</ul>
</center>

{% endblock %}