{% extends 'base.html' %}

{% load static %}

{% block content %}

{% if reglaForm %}
<center><div class="container">
    <h2>Crear Reglas</h2>
    <form method="POST" class="post-form">{% csrf_token %}
        <div class="data">
            {{ reglaForm.as_p }}
        </div>
        <div class="submit">
            <input type="submit" class="btn btn-primary" value="Crear">
        </div>
    </form>
</div></center>
{% endif %}

{% if reglaFormEdit %}
<center><div class="container">
    <h2>Editar Reglas</h2>
    <form method="POST" class="post-form">{% csrf_token %}
        <div class="data">
            {{ reglaFormEdit.as_p }}
        </div>
        <div class="submit">
            <input type="submit" class="btn btn-primary" value="Editar">
        </div>
    </form>
</div></center>
{% endif %}

{% endblock %}