{% extends 'base.html' %}

{% load static %}

{% block content %}

{% if flujoForm %}
<center><div class="container">
    <h2>Crear Flujos de trabajo</h2>
    <form method="POST" class="post-form">{% csrf_token %}
        <div class="data">
            {{ flujoForm.as_p }}
        </div>
        <div class="submit">
            <input type="submit" class="btn btn-primary" value="Crear">
        </div>
    </form>
</div></center>
{% endif %}

{% if flujoFormEdit %}
<center><div class="container">
    <h2>Editar Flujos de trabajo</h2>
    <form method="POST" class="post-form">{% csrf_token %}
        <div class="data">
            {{ flujoFormEdit.as_p }}
        </div>
        <div class="submit">
            <input type="submit" class="btn btn-primary" value="Editar">
        </div>
    </form>
</div></center>
{% endif %}

{% endblock %}