{% extends 'base.html' %}

{% load static %}

{% block content %}

{% if dependenciaForm %}
<center><div class="container">
    <h2>Crear Dependencia</h2>
    <form method="POST" class="post-form">{% csrf_token %}
        <div class="data">
            {{ dependenciaForm.as_p }}
        </div>
        <div class="submit">
            <input type="submit" class="btn btn-primary" value="Crear">
        </div>
    </form>
</div></center>
{% endif %}

{% if dependenciaEditForm %}
<center><div class="container">
    <h2>Editar Actividad</h2>
    <form method="POST" class="post-form">{% csrf_token %}
        <div class="data">
            {{ areaEditForm.as_p }}
        </div>
        <div class="submit">
            <input type="submit" class="btn btn-primary" value="Editar">
        </div>
    </form>
</div></center>
{% endif %}

{% endblock %}