{% extends 'base.html' %}

{% load static %}

{% block content %}

{% if rolForm %}
<center><div class="container">
    <h2>Crear Rol</h2>
    <form method="POST" class="post-form">{% csrf_token %}
        <div class="data">
            {{ rolForm.as_p }}
        </div>
        <div class="submit">
            <input type="submit" class="btn btn-primary" value="Crear">
        </div>
    </form>
</div></center>
{% endif %}

{% if rolEditForm %}
<center><div class="container">
    <h2>Editar Rol</h2>
    <form method="POST" class="post-form">{% csrf_token %}
        <div class="data">
            {{ rolEditForm.as_p }}
        </div>
        <div class="submit">
            <input type="submit" class="btn btn-primary" value="Editar">
        </div>
    </form>
</div></center>
{% endif %}

{% endblock %}