{% extends 'base.html' %}

{% load static %}

{% block content %}

{% if tareaForm %}
<center><div class="container">
    <h2>Crear Tarea</h2>
    <form method="POST" class="post-form">{% csrf_token %}
        <div class="data">
            {{ tareaForm.as_p }}
        </div>
        <div class="submit">
            <input type="submit" class="btn btn-primary" value="Crear">
        </div>
    </form>
</div></center>
{% endif %}

{% if tareaFormEdit %}
<center><div class="container">
    <h2>Editar Tarea</h2>
    <form method="POST" class="post-form">{% csrf_token %}
        <div class="data">
            {{ tareaFormEdit.as_p }}
        </div>
        <div class="submit">
            <input type="submit" class="btn btn-primary" value="Editar">
        </div>
    </form>
</div></center>
{% endif %}

{% endblock %}