{% extends 'base.html' %}

{% load static %}

<link rel="stylesheet" href="{% static 'Css/main.css' %}">

{% block content %}

<center><h1>Componentes Predefinidos</h1></center>

{% if componentes %}
<div class="container">
        {% for componente in componentes %}
        <table class="container_item">
            <tr>
                <td class="container_item_first_column">
                    <div class="task_name">
                        <h3>{{ componente.titulo }}</h3>
                    </div>
                </td>
                <td>
                    <!-- Celda vacía -->
                </td>
            </tr>
            <tr>
                <td>
                    <div class="data">
                        Creado: {{ componente.fecha_Creacion }} |
                        Estado: {{ componente.estado }} |
                    </div>
                </td>
                <td class="container_item_second_column">
                    <div class="link_button right_up_container">
                        <a class="btn btn-primary" href="{% url 'flujo/editar_componente' pk=componente.pk %}">Editar</a>
                    </div> 
                </td>
            </tr>
        </table>
        {% endfor %}
</div>
{% else %}

<center><h2>No hay Componentes Predefinidos para mostrar</h2></center>

{% endif %}

<center><a role="button" class="btn btn-primary" href="{% url 'flujo/crear_componente' %}">Nuevo Componente Predefinido</a></center>

{% if messages %}
    {% for message in messages %}
        <script type="text/javascript">
            alert("{{message}}")
        </script>    
    {% endfor %}
{% endif %}

{% endblock %}