{% extends 'base.html' %}

{% block content %}

<center><h1>Bienvenidos a gerenc-IA</h1></center>

<ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" href="{% url 'proyecto/inicio_Proyecto' %}">Proyectos</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="{% url 'flujo/inicio_Flujo' %}">WorkFlows</a>
    </li>
</ul>

{% endblock %}