{% extends 'base.html' %}

{% block content %}

<h1>Proyectos</h1>

{% if proyectos %}
{% for proyecto in proyectos %}

{% endfor %}
{% else %}
<center><h2>No hay proyectos para mostrar...</h2></center>
{% endif %}

{% endblock %}