{% extends 'base.html' %}

{% block content %}

<h1>Esto es IA_Proyecto -> Proyecto</h1>

<h2>Aqui se van a mover los proyectos activos, con sus elementos de workflow, 
    sus componentes y sus tareas.
</h2>

{% endblock %}